.container {
  display: flex;
  flex-direction: row;
  background-color: #FFFFFF;
  align-items: center;
  justify-content: space-between;
  padding-left: 3%;
  padding-right: 3%;
}

.containerSec {
  display: flex;
  flex-direction: row;
  background-color: #FFFFFF;
  align-items: center;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 3%;
}
